:root {
    /* Sidebar variables */
    --sidebar-grid-left-col: 3em;
    --sidebar-grid-gap: 0.5em;
    --sidebar-grid-padding: 1em;

    /* Content */
    --content-margin:
        calc(var(--sidebar-grid-left-col) + var(--sidebar-grid-gap) + var(--sidebar-grid-padding) * 2);
}